
<div class="kt-grid kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--top">
    <p>This cell should be top-aligned.</p>
  </div>
  <div class="kt-grid__col">
    <p>Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</p>
  </div>
  <div class="kt-grid__col kt-grid__col--center">
    <p>Pellentesque sagittis vel erat ac laoreet.</p>
  </div>
  <div class="kt-grid__col kt-grid__col--bottom">
    <p>This cell should be top-aligned.</p>
  </div>
</div>
