
<div class="kt-grid kt-grid--justify kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--half">
    1/2
  </div>
</div>

<div class="kt-grid kt-grid--justify kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
</div>

<div class="kt-grid kt-grid--justify kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
</div>

<div class="kt-grid kt-grid--justify-right kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
</div>

<div class="kt-grid kt-grid--justify-right kt-grid--demo">
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
  <div class="kt-grid__col kt-grid__col--1of4">
    1/4
  </div>
</div>

<div class="kt-grid kt-grid--top kt-grid--demo">
  <div class="kt-grid__col">
    <p>This cell should be top-aligned.</p>
  </div>
  <div class="kt-grid__col">
    <p>Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</p>
  </div>
  <div class="kt-grid__col">
    <p>This cell should be top-aligned.</p>
  </div>
</div>

<div class="kt-grid kt-grid--center kt-grid--demo">
  <div class="kt-grid__col">
    <p>This cell should be center-aligned.</p>
  </div>
  <div class="kt-grid__col">
    <p>Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</p>
  </div>
  <div class="kt-grid__col">
    <p>This cell should be center-aligned.</p>
  </div>
</div>

<div class="kt-grid kt-grid--bottom kt-grid--demo">
  <div class="kt-grid__col">
    <p>This cell should be bottom-aligned.</p>
  </div>
  <div class="kt-grid__col">
    <p>Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</p>
  </div>
  <div class="kt-grid__col">
    <p>This cell should be bottom-aligned.</p>
  </div>
</div>
